* {
  margin: 0;
  padding: 0;
}

.parent {
  /* width: 300px; */
  height: 100vh;
  background-color: aquamarine;

  display: flex;
  /* flex-direction: row-reverse; */
  /* justify-content: space-evenly; */
  /* align-items: center; */
  /* justify-content: center;
  align-items: center; */

 /* gap: 20px; */
 /* flex-wrap: wrap; */
 
 justify-content: center;
 align-items: center;

}

.child{
    width: 60px;
    height: 60px;
    background-color: red;
}
