body {
  background-color: aquamarine;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  background: white;
  width: 250px;
  padding: 20px;
  margin: 100px auto;
  text-align: center;
  border-radius: 10px;
}

button {
  background: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
